:root {
  --pyladies-pink: #ee264d;
  --pyladies-pink-rgb: 238, 38, 77;
  --pyladies-darkblue: #232f40;
  --pyladies-lightblue: #b2cce5;
  --pyladies-darkyellow: #ffd700;
  --pyladies-lightyellow: #ffed8c;
}

@theme {
  --color-pyladies-pink: var(--pyladies-pink);
}

.bg-pink-700 {
  bakground-color: var(--pyladies-pink);
}

.text-pink {
  color: var(--pyladies-pink);
}

.text-pink-80 {
  color: rgba(var(--pyladies-pink-rgb), 0.8);
}

.text-darkblue {
  color: var(--pyladies-darkblue);
}

.text-lightblue {
  color: var(--pyladies-lightblue);
}

.text-darkyellow {
  color: var(--pyladies-darkyellow);
}

.text-lightyellow {
  color: var(--pyladies-lightyellow);
}

.heading-wrapper {
  display: flex;
  align-items: baseline;
  gap: 6px;
}
@media (min-width: 50em) {
  .heading-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-inline-start: calc(-1 * 25px);
  }
  .heading-wrapper .anchor-link {
    visibility: hidden;
  }
  .heading-wrapper:hover .anchor-link {
    visibility: visible;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  border: none;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.dark {
  ::-webkit-scrollbar-track {
    border: none;
    /*background-color: rgb(12 10 9);*/
    background-color: rgb(87 22 55);
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(12 10 9);
  }
  ::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}
.dark ::-moz-selection {
  color: black;
  background: white;
}
.dark ::selection {
  color: black;
  background: white;
}

.inline-icon {
  display: inline;
}

/* Make a difference for the URLs in some sections of the website */
dd a, li a, p a {
  text-decoration: underline !important;
}

a:hover {
  color: var(--pyladies-pink) !important;
}


.thefont {
  font-family: "Orbitron";
}
