---
import { Image } from "astro:assets";
import Cobe from "@components/cobe.astro";
import Link from "@components/ui/link.astro";
import TicketButton from "@components/ui/ticketbutton.astro";
import abstractDottedGlobeIllustration from "assets/abstract-dotted-globe-illustration.png";
import { socials } from "./footer.astro";

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative isolate pt-14 dark:bg-stone-950">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <svg
      class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
      viewBox="0 0 1155 678">
      <path
        fill="url(#9b2541ea-d39d-499b-bd42-aeea3e93f5ff)"
        fill-opacity=".3"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
      </path>
      <defs>
        <linearGradient
          id="9b2541ea-d39d-499b-bd42-aeea3e93f5ff"
          x1="1155.49"
          x2="-78.208"
          y1=".177"
          y2="474.645"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#9089FC"></stop>
          <stop offset="1" stop-color="#FFD580"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="sm:pt-10">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto max-w-3xl text-center">
        <h1 class="text-4xl font-bold tracking-wide text-black dark:text-white sm:text-6xl thefont">{t("PyLadiesCon 2025")}</h1>
        <p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-100">
          {t("5th-7th December | Multi-language | Multi-timezone")}
        </p>
        <p class="mt-6 leading-8 text-gray-900 dark:text-gray-100">
    <div class="m-auto mt-4 flex w-max items-center justify-between space-x-4 text-gray-500 dark:text-white">

    {
      socials.map((item) => (
      <a class="duration-300" href={item.url} title={item.title} target="blank" aria-label={item.title}>
        <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8" viewBox="0 0 32 32" set:html={item.svgpath}></svg>
      </a>
      ))
    }
    </div>

        </p>
        <div class="grid grid-cols-2 lg:grid-cols-3 mt-10 items-stretch justify-center gap-2 md:gap-6">
          <div class="relative group grid place-items-center">
            <div class="absolute -inset-0.5 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-60 group-hover:opacity-100 transition duration-150"></div>
            <Link class="grid place-items-center bg-gradient-to-r from-purple-600 to-pink-600 text-gray-900 dark:text-white transition-colors duration-150 ease-in-out before:absolute before:inset-0 before:bg-white dark:before:bg-gray-900 before:rounded-md before:transition-opacity before:duration-150 before:ease-in-out hover:before:opacity-0 hover:!text-white"
                style="outline"
                href="/schedule">
              <span class="relative z-10">{t("Schedule")}</span>
            </Link>
          </div>
          <!--
          <div class="relative group grid place-items-center">
            <div class="absolute -inset-0.5 bg-gradient-to-r from-blue-600 to-cyan-600 rounded-lg blur opacity-60 group-hover:opacity-100 transition duration-150"></div>
            <Link class="bg-gradient-to-r from-blue-600 to-cyan-600 text-gray-900 dark:text-white transition-colors duration-150 ease-in-out before:absolute before:inset-0 before:bg-white dark:before:bg-gray-900 before:rounded-md before:transition-opacity before:duration-150 before:ease-in-out hover:before:opacity-0 hover:!text-white"
                style="outline"
                href="https://pretix.eu/pyladiescon/2025/">
              <span class="relative z-10">{t("Register")}</span>
            </Link>
          </div>
          -->
          <Link class="grid place-items-center bg-pinkpyladies text-white dark:hover:bg-black"
              href="/donate">{t("Donate")}
          </Link>
          <Link href="https://conference.pyladies.com" style="muted">
              {t("Visit our meta website")}
              <span aria-hidden="true" class="pl-1 text-black dark:text-white">
                →
              </span>
          </Link>
        </div>
        <TicketButton class="mt-6 flex justify-center md:hidden" />
      </div>
      <div class="flex justify-center items-center mt-4 md:mt-8">
            <>
              <h2
                class="text-2xl md:text-4xl max-w-2xl text-center font-bold tracking-tight text-black dark:text-white absolute"
                style="line-height: 1.5">
                {t("The online conference of the PyLadies communities around the globe.")}
              </h2>
              <Cobe />
            </>
      </div>
    </div>
  </div>
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
    <svg
      class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
      viewBox="0 0 1155 678">
      <path
        fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
        fill-opacity=".3"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
      </path>
      <defs>
        <linearGradient
          id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
          x1="1155.49"
          x2="-78.208"
          y1=".177"
          y2="474.645"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#9089FC">
            <animate attributeName="stop-color" values="#9089FC; #FF80B5; #9089FC" dur="5s" repeatCount="indefinite"></animate>
          </stop>
          <stop offset="1" stop-color="#ffb6c1">
            <animate attributeName="stop-color" values="#ffb6c1; #9089FC; #ffb6c1" dur="5s" repeatCount="indefinite"></animate>
          </stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>

<style>
  @keyframes slide {
    0% {
      left: calc(50% - 70rem);
      transform: rotate(0deg);
    }
    50% {
      left: calc(50% - 30rem);
      transform: rotate(-180deg);
    }
    100% {
      left: calc(50% - 70rem);
      transform: rotate(0deg);
    }
  }

  .animate-slide {
    animation: slide 25s infinite;
  }
</style>
