---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Logos from "@components/logos.astro";
import JobsBoard from "@components/jobsboard.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { getLocaleStaticPaths } from "../../i18n/locales";

export function getStaticPaths() {
  return getLocaleStaticPaths();
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { align = "center" } = Astro.props;

const jobs = [
//  {
//    title: "Super Software Engineer",
//    company: "The Tech Company",
//    companyurl: "https://pyladies.com",
//    description: `Something cool <a href="https://pyladies.com">website</a> Lorem ipsum is a placeholder text commonly used`,
//    salary: "50000-100000 EUR",
//    joburl: "https://pyladies.com",
//    email: "pyladiescon@pyladies.com",
//    keywords: ["Python", "PyTorch", "CSS"],
//  },
//  {
//    title: "",
//    company: "",
//    companyurl: "",
//    description: ``,
//    salary: "",
//    joburl: "",
//    email: "",
//    keywords: [],
//  },
  {
    title: "Service Delivery Lead (Project Manager/Business Analyst)",
    company: "Six Feet Up",
    companyurl: "https://sixfeetup.com",
    description: "Six Feet Up is looking for a full-time Senior Python Developer/DevOps Engineer to create beautiful back-end code that powers sophisticated Python-based web projects. The role also includes deploying, managing, and maintaining our infrastructure and applications.100% remote (USA only)",
    salary: "Not provided",
    joburl: "https://sixfeetup.com/company/project-manager",
    email: "laura@sixfeetup.com",
    keywords: [],
  },
  {
    title: "Senior Python Developer/DevOps Engineer",
    company: "Six Feet Up",
    companyurl: "https://sixfeetup.com",
    description: "Six Feet Up is looking for a full-time Senior Python Developer/DevOps Engineer to create beautiful back-end code that powers sophisticated Python-based web projects. The role also includes deploying, managing, and maintaining our infrastructure and applications. 100% remote (USA only)",
    salary: "Not provided",
    joburl: "https://sixfeetup.com/company/senior-python-developer-devops-engineer-us-only",
    email: "laura@sixfeetup.com",
    keywords: [],
  },
];

---

<Layout title="Job Board">
  <Container>
    <Sectionhead>
      <Fragment slot="subtitle">{t("Find opportunities from our sponsors")}</Fragment>
      <Fragment slot="title">{t("Job Board")}</Fragment>
      <Fragment slot="description">
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-5xl mt-5">
      {jobs.length === 0 && <div class="my-10 text-center dark:text-white"><h3>{t("-- No Jobs were added so far --")}</h3></div>}
      {
        jobs.map((job) => <JobsBoard details={job} />)
      }
    </div>

  </Container>
</Layout>
