---
import Container from "@components/container.astro";
import SpeakersComponent from "@components/speakers.astro";
import Sectionhead from "@components/sectionhead.astro";
import speakerData from "../../data/speakers.json";
import submissionsData from "../../data/sessions.json";
import Layout from "@layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { getLocaleStaticPaths } from "../../i18n/locales";

export function getStaticPaths() {
  return getLocaleStaticPaths();
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const speakers = Object.entries(speakerData);

---

<Layout title="Speakers">
    <Container>
        <Sectionhead>
            <Fragment slot="subtitle">{t("speakers.subtitle")}</Fragment>
            <Fragment slot="title">{t("speakers.title")}</Fragment>
            <Fragment slot="description"> </Fragment>
        </Sectionhead>

        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none justify-center">
            <dl class="grid ax-w-none md:grid-cols-3 gap-x-1 gap-y-1 lg:max-w-none lg:grid-cols-5">
                    {
                    speakers.map(([key, value]) => {
                        const submissions =  value.submissions.map((sub) => submissionsData[sub]);
                        if (submissions[0].session_type != "Keynote") {
                            return (
                                <SpeakersComponent
                                speakerInfo={value}
                                speakerSubmissions={submissions}
                                />)
                        }
                        })
                    }
            </dl>
        </div>
    </Container>
</Layout>
