---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Prose from "@components/Prose.astro";
import Layout from "@layouts/Layout.astro";

import {Content as InappropriateBehavior} from './content/coc-inappropiate-behavior.md';
import {Content as Consequences} from './content/coc-consequences.md';
import {Content as Scope} from './content/coc-scope.md';

import {Content as ReportingAnIncident} from './content/coc-reporting-an-incident.md';
import {Content as ProcedureHandlingIncidents} from './content/coc-procedure-handling-incidents.md';
import {Content as License} from './content/coc-license.md';
import {Content as Attribution} from './content/coc-attribution.md';

---

<Layout title="Código de Conducta">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Código de Conducta</Fragment>
      <Fragment slot="subtitle"></Fragment>
      <Fragment slot="description">
        PyLadiesCon is a community conference intended for networking and
        collaboration. We aim to provide a safe, inclusive, welcoming, and
        harassment-free for everyone in our community.
      </Fragment>
    </Sectionhead>

    <div class="py-24 sm:py-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
            <div class="rounded-2xl lg:col-span-1 bg-gray-50 p-5 dark:bg-stone-900">
              <h2 class="text-3xl font-bold tracking-tight text-pink">1.</h2>
              <p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">
                We want all participants to have an enjoyable and fulfilling experience.
                Accordingly, all participants are expected to show respect and courtesy to
                other participants throughout the conference and at all conference-related
                events and activities.
              </p>
            </div>
            <div class="rounded-2xl lg:col-span-1 bg-gray-50 p-5 dark:bg-stone-900">
              <h2 class="text-3xl font-bold tracking-tight text-pink">2.</h2>
              <p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">
                To make clear what is expected, all members of the organizing committee,
                attendees, speakers, organizers, sponsors, and volunteers at any PyLadiesCon
                event are required to conform to the following Code of Conduct as set forth by
                the Python Software Foundation. Organizers will enforce this code throughout
                the event.
              </p>
            </div>
            <div class="rounded-2xl lg:col-span-1 bg-gray-50 p-5 dark:bg-stone-900">
              <h2 class="text-3xl font-bold tracking-tight text-pink">3.</h2>
              <p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">
                The Python community is made up of members from around the globe with a diverse
                set of skills, personalities, and experiences. It is through these differences
                that our community experiences great successes and continued growth. When
                you’re working with members of the community, this Code of Conduct will help
                steer your interactions and keep Python a positive, successful, and growing
                community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Community -->
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <div class="lg:col-span-1">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Our Community</h2>
              <p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">
                Members of the Python community are open, considerate, and
                respectful. Behaviors that reinforce these values contribute to
                a positive environment, and include:
              </p>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-1 lg:col-span-3 lg:gap-8">
              <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                  <div>
                    <dd>
                      <ul class="list-disc px-10 py-5">
                        <li>
                          <strong class="text-pink">Being open.</strong> Members of the community are open to
                          collaboration, whether it’s on PEPs, patches, problems, or otherwise.
                        </li>
                        <li>
                          <strong class="text-pink">Focusing on what is best for the community.</strong> We’re
                          respectful of the processes set forth in the community, and we work
                          within them.
                        </li>
                        <li>
                          <strong class="text-pink">Acknowledging time and effort.</strong> We’re respectful of the
                          volunteer efforts that permeate the Python community. We’re toughtful
                          when addressing the efforts of others, keeping in mind that often times
                          the labor was completed simply for the good of the community.
                        </li>
                        <li>
                          <strong class="text-pink">Being respectful of differing viewpoints and experiences.
                          </strong> We’re receptive to constructive comments and criticism,
                          experiences and skill sets of other members contribute to the whole of
                          our efforts.
                        </li>
                        <li>
                          <strong class="text-pink">Showing empathy towards other community members.</strong> We’re
                          attentive in our communications, whether in person or online, and we’re
                          tactful when approaching differing views.
                        </li>
                        <li>
                          <strong class="text-pink">Being considerate.</strong> Members of the community are
                          considerate of their peers – other Python users.
                        </li>
                        <li>
                          <strong class="text-pink">Being respectful.</strong> We’re respectful of others, their
                          positions, their skills, their commitments, and their  efforts.
                        </li>
                        <li>
                          <strong class="text-pink">Gracefully accepting constructive criticism.</strong> When we
                          disagree, we are courteous in raising our issues.
                        </li>
                        <li>
                          <strong class="text-pink">Using welcoming and inclusive
                          language.</strong> We’re accepting of all who wish to
                          take part in our activities, fostering an environment
                          where anyone can participate and everyone can make
                          a difference.
                        </li>
            </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Standards -->
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <div class="lg:col-span-1">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Our Standards</h2>
              <p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">
                Every member of our community has the right to have their identity respected.
                The Python community is dedicated to providing a positive experience for
                everyone, regardless of age, gender identity and expression, sexual
                orientation, disability, physical appearance, body size, ethnicity,
                nationality, race, or religion (or lack thereof), education, or socio-economic
                status.
              </p>
            </div>

            <div class="grid grid-cols-1 gap-6 sm:grid-cols-1 lg:col-span-3 lg:gap-8">
              <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Inappropriate Behavior</h3>
                <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                  <div>
                    <Prose>
                      <InappropriateBehavior/>
                    </Prose>
                  </div>
                </dl>
              </div>

              <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Consequences</h3>
                <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                  <div>
                    <Prose>
                      <Consequences/>
                    </Prose>
                  </div>
                </dl>
              </div>

              <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Scope</h3>
                <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                  <div>
                    <Prose>
                      <Scope/>
                    </Prose>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Process -->
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <div class="lg:col-span-1">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Our Process</h2>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-1 lg:col-span-3 lg:gap-8">

                  <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                    <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Reporting an Incident</h3>
                    <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                      <div>
                        <Prose>
                          <ReportingAnIncident/>
                        </Prose>
                      </div>
                    </dl>
                  </div>

                  <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                    <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Procedure for handling incidents</h3>
                    <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                      <div>
                        <Prose>
                          <ProcedureHandlingIncidents/>
                        </Prose>
                      </div>
                    </dl>
                  </div>

                  <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                    <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">License</h3>
                    <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                      <div>
                        <Prose>
                          <License/>
                        </Prose>
                      </div>
                    </dl>
                  </div>

                  <div class="rounded-2xl bg-gray-50 dark:bg-stone-900 p-10">
                    <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Attribution</h3>
                    <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
                      <div>
                        <Prose>
                          <Attribution/>
                        </Prose>
                      </div>
                    </dl>
                  </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </Container>
</Layout>
