---
import socials from '../../icons/socials_icons.json';
const { speakersSocialUrl, social } = Astro.props;

---

<a
    class="duration-300 pr-3 cursor-help hover:gray-500"
    href={speakersSocialUrl}
    title={socials[social]?.title}
    target="blank"
    aria-label={socials[social]?.title}
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="m-auto h-5 w-5"
        viewBox="0 0 32 32"
        set:html={socials[social]?.svgpath}
    />
</a>
